.hero-image {
  margin-bottom: 8px;
  position: relative;
  overflow: hidden;
}

.mgc-image {
  width: 100%;
  height: auto;
  margin-top: 119px;
  position: relative;
  object-fit: cover
}

.image-caption {
  font-size: 12px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  bottom: 8px;
  left: 8px;
  position: absolute;
}

.hero-logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding-top: 26px;
  padding-bottom: 26px;
  border-bottom: 5px solid black;
}

.MDC-logo, .MGC-logo {
  height: 71px;
  margin-left: 13px;
  margin-right: 13px;
  opacity: 1;
}

.description {
  color: black;
  background-color: white;
  padding-left: 113px;
  padding-right: 113px;
  padding-top: 26px;
  padding-bottom: 26px;
  margin-bottom: 23px;
  font-weight: 100;
}

.link {
  color: black;
}